<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Janken GAME!</title>
</head>

<body>
  <a href="/logout">ログアウト</a>

  <h1>Janken GAME!</h1>
  <p>Hi <span th:text="${currentUser}"></span></p>

  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${users}">
      <a th:href="@{/match(id=${user.id})}" th:text="${user.name}"></a>
    </li>
  </ul>

  <h2>試合結果</h2>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>User1</th>
      <th>User2</th>
      <th>User1の手</th>
      <th>User2の手</th>
    </tr>
    <tr th:each="m : ${matches}">
      <td th:text="${m.id}"></td>
      <td th:text="${m.user1}"></td>
      <td th:text="${m.user2}"></td>
      <td th:text="${m.user1Hand}"></td>
      <td th:text="${m.user2Hand}"></td>
    </tr>
  </table>
</body>

</html>
